
:root {
    --deWhiteColor       : #ffffff;
    --deBlackColor       : #000000;
    --deThemeColor       : #23c68e;
    --deSecondaryColor   : #ecfcfe;
}

.hidden-title {display: none !important;}
/****** ====== Body Start ====== ******/

img {
    max-width: 100%;
    height: auto;
}

.blog .main-content, 
.single-post .main-content {
    padding-top: 3rem;
}

.inner_banner_item img, 
.blog_list_img img, 
.blog_detail_img a img {
    -o-object-fit: cover;
    object-fit: cover;
}
/****** ====== Inner Banner ====== ******/
.inner_banner_item {
    position: relative;
}
.inner_banner_item::before {
    content: '';
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    position: absolute;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    z-index: 1;
}
.inner_banner_item img {
    min-height: 20rem;
    max-height: 20rem;
    width: 100%;
}
.inner_banner_item .banner_content {
    color: var(--deWhiteColor);
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.inner_banner_title {
    color: var(--deWhiteColor);
    font-weight: 700;
    margin-bottom: 0rem;
    text-align: center;
}
/****** ====== Contact Us ====== ******/
.contactpageinfo {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
.messageBox {
    position: relative;
}
.contactpageinfo .messageBox h2 {
    position: relative;
    margin-bottom: 3rem;
}
.contactpageinfo .messageBox h2:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    width: 8rem;
    height: 3px;
    background: var(--deThemeColor);
    margin-left: auto;
    margin-right: auto;
    bottom: -0.75rem;
}
.contactpageinfo .messageBox h2 span {
    display: block;
    text-transform: uppercase;
    color: var(--deBlackColor);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.messageBox p {
    width: 70%;
    margin: 0px auto 5rem;
}
.contact_frm {
    width: 83.3333%;
    margin-left: auto;
    margin-right: auto;
}
.contact_frm .last-child {
    text-align: center;
    margin-top: 3rem;
}
.contact_frm .from-group {
    margin-bottom: 1.5rem;
}
.contact_frm .from-group.last-row {
    margin-bottom: 0rem;
}
.contact_frm .from-group [class*="col-"] {
    position: relative;
}
.contact_frm .from-group.last-row [class*="col-"] {
    text-align: center;
}

.contact_frm input[type=email], 
.contact_frm input[type=password], 
.contact_frm input[type=tel], 
.contact_frm input[type=text], 
.contact_frm textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--deWhiteColor);
    border-width: 1px;
    border-style: solid;
    border-color: #898989;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: var(--deBlackColor);
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    padding: 0px 1.5rem;
    margin-bottom: 0;
}
.contact_frm input[type=email], 
.contact_frm input[type=password], 
.contact_frm input[type=tel], 
.contact_frm input[type=text] {
    height: 3.6rem;
    line-height: 3.6rem;
}
.contact_frm textarea {
    height: 7.5rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.contact_frm input::-webkit-input-placeholder, 
.contact_frm textarea::-webkit-input-placeholder {
	color: rgba(0,0,0,0.25);
	font-size: 1.2rem;
	font-weight: 400;
}
.contact_frm input::-moz-placeholder, 
.contact_frm textarea::-moz-placeholder {
	color: rgba(0,0,0,0.25);
	font-size: 1.2rem;
	font-weight: 400;
}
.contact_frm input:-ms-input-placeholder, 
.contact_frm textarea:-ms-input-placeholder {
	color: rgba(0,0,0,0.25);
	font-size: 1.2rem;
	font-weight: 400;
}
.contact_frm input:-moz-placeholder, 
.contact_frm textarea:-moz-placeholder {
	color: rgba(0,0,0,0.25);
	font-size: 1.2rem;
	font-weight: 400;
}

.contact_frm input.submit_btn {
    background-color: var(--deThemeColor);
    border: 2px solid var(--deThemeColor);
    color: var(--deWhiteColor);
    font-size: 1.2rem;
    height: 3rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    text-transform: capitalize;
}
.contact_frm input.submit_btn:hover {
    background-color: var(--deWhemeColor);
    border: 2px solid var(--deThemeColor);
    color: var(--deThemeColor);
}
.contact_frm .wpcf7-spinner {
    position: absolute;
    right: 0;
    left: 0;
    top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.contactDescription {
    background: var(--deThemeColor);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.innerCon {
    background: #ffffff;
    padding: 0.75rem;
    -webkit-box-shadow: 3px -1px 40px -14px rgb(0 0 0 / 75%);
    -moz-box-shadow: 3px -1px 40px -14px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 40px -14px rgb(0 0 0 / 75%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.iconBoxInner {
    background: var(--deThemeColor);
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px 0px;
    padding: 0 0.75rem;
    margin-right: 1rem;
}
.iconTextSec {
    width: 85%;
}
.iconBoxInner img {
    -webkit-animation: heartBeat 3s infinite;
    animation: heartBeat 3s infinite;
}
.iconTextSec h6 {
    color: var(--deThemeColor);
    text-transform: uppercase;
}
.iconTextSec {
    width: 75%;
}
.iconTextSec p, .iconTextSec a {
    color: var(--deBlackColor);
    margin: 0.5rem 0;
    text-decoration: none;
}
.iconTextSec a:hover {
    color: var(--deThemeColor);
}
.submitWorkOrdereq h2 {
    text-align: center;
    position: relative;
    margin-bottom: 110px;
}
.mapBox iframe {
    width: 100%;
    height: 45rem;
}
/****** ====== End Contact ====== ******/

/****** ====== Blog List ====== ******/
.blog .main-content h1.site_title, 
.single-post .blog_title_detail_lt h1.site_title {
    color: var(--deThemeColor);
    margin-bottom: 1.5rem;
}
.col-blog-list-inner {
    margin-bottom: 3rem;
}
.blog_cat_wrap {
    background-color: var(--deThemeColor);
    padding: 1rem;
}
.blog_cat_wrap h2 {
    color: var(--deWhiteColor);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
}
.blog_cat_wrap .cat_list {
    padding: 0;
}
.blog_cat_wrap .cat_list li {
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    display: block;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
}
.blog_cat_wrap .cat_list li:last-child {
    border-bottom: 0px;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}
.blog_cat_wrap .cat_list li a {
    color: var(--deWhiteColor);
    text-decoration: none;
}
.blog_cat_wrap .cat_list li a:hover {
    color: var(--deSecondaryColor);
}

.blog_list_img {
    height: 10rem;
    margin-bottom: 1.5rem;
}
.blog_list_img a {
    display: block;
    height: 100%;
}
.blog_list_img img {
    height: 100%;
    width: 100%;
}
.blog_list_content h5 {
    margin-bottom: 1rem;
}
.blog_list_content h5 a {
    color: var(--deThemeColor);
    display: block;
    text-decoration: none;
}
.blog_list_content h5 a:hover {
    color: var(--deBlackColor);
}
.blog_list_content a.btn_blog {
    text-decoration: none;
}
.blog_list_wrap .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.blog_list_wrap .pagination span, 
.blog_list_wrap .pagination a {
    background-color: var(--deThemeColor);
    border-color: var(--deWhiteColor);
    border: 1px solid var(--deThemeColor);
    border-radius: 0px;
    display: inline-block;
    color: var(--deWhiteColor);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0px 0.75rem;
    text-decoration: none;
}
.blog_list_wrap .pagination span.current, 
.blog_list_wrap .pagination a:hover {
    background-color: #198862;
}
/****** ====== End Blog List ====== ******/
/****** ====== Blog Detail ====== *****/
.blog_detail_img {
    border: 2px solid var(--deThemeColor);
    box-shadow: 2px 0px 20px rgba(0,0,0,0.25);
    -webkit-box-shadow:2px 0px 20px rgba(0,0,0,0.25);
    height: 25rem;
    padding: 0.5rem;
    line-height: 0rem;
    margin-bottom: 1.5rem;
}
.blog_detail_img a {
    display: block;
    height: 100%;
}
.blog_detail_img a img {
    height: 100%;
    width: 100%;
}
/****** ====== End Blog Detail ====== *****/

.page-template-general-inner-template.main-content {
    padding-top: 4.5rem;
}

/* PP and T&C */
.page-template-general-inner-template .main-content h2, 
.page-template-general-inner-template .main-content h3, 
.page-template-general-inner-template .main-content h4, 
.page-template-general-inner-template .main-content h5 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.page-template-general-inner-template .main-content h2 {
    color: var(--deBlackColor);
    font-size: 2rem;
    line-height: 2.4rem;
    text-transform: capitalize;
    font-weight: 400;
}
.page-template-general-inner-template .main-content ul {
    padding: 0;
}
.page-template-general-inner-template .main-content ul li {
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.page-template-general-inner-template .main-content ul li:last-child {
  margin-bottom: 0px;
}
.page-template-general-inner-template .main-content ul li::after {
  content: "\f101";
  font-family: 'FontAwesome';
  color: var(--deBlackColor);
  position: absolute;
  left: 0px;
  top: 0px;
}
.page-template-general-inner-template .main-content p a {
  color: var(--deThemeColor);
}
.page-template-general-inner-template .main-content p a:hover {
  color: var(--deBlackColor);
}

/* Error Page */
.error__main__content {
    padding-top: 0rem;
}
.page404-main-section {
    background-image: url(../images/common-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    position: relative;
}
.page404-main-section::before {
    content: '';
    background-color: rgba(255,255,255,0.92);
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.page404-main-section .container {
    position: relative;
    z-index: 2;
}
.error-404 {
    min-height: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.error_inner {
    background-color: rgba(255, 255, 255, 0.75);
    border: 0px solid #c3c3c3;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 10px rgb(0,0,0,0.25);
    border-radius: 8px;
    padding: 3rem 1.5rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.error_inner h1.site_title {
    color: var(--deThemeColor);
    margin-bottom: 1.5rem;
}
.intro-text p {
    color: var(--deBlackColor);
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}
/* Common Btn */
.btnhome, 
.blog_list_content a.btn_blog {
    background-color: var(--deThemeColor);
    border-color: var(--deWhiteColor);
    border: 1px solid var(--deThemeColor);
    border-radius: 0px;
    display: inline-block;
    color: var(--deWhiteColor);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 3rem;
    line-height: 3rem;
    padding: 0px 1.5rem;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.btnhome:hover, 
.btnhome:focus, 
.blog_list_content a.btn_blog:hover, 
.blog_list_content a.btn_blog:focus {
    background-color: transparent;
    color: var(--deThemeColor);
    outline: 0px;
}
/* Error Page */

@media screen and (max-width: 991px) {
    /* Contact Page */
    .contact_frm {
        width: 100%;
    }
    .contactpageinfo .from-group {
        margin-bottom: 0;
    }
    .contactpageinfo .from-group [class*="col-"] {
        margin-bottom: 1.5rem;
    }
    .contactpageinfo .from-group.last-row [class*="col-"] {
        margin-bottom: 0rem;
    }
    .innerCon {
        margin: 1.5rem 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: auto;
    }
    .iconBoxInner {
        margin-right: 0px;
        margin-bottom: 1.5rem;
    }
    .mapBox iframe {
        height: 30rem;
    }
    /* Blog List */
    .col-blog-list-lt {
        margin-bottom: 1.5rem;
    }
    /****** ====== Blog Detail ====== *****/
    .blog_detail_content {
        text-align: center;
    }
    /* Error Page */
    .error-404 {
      min-height: 400px;
    }
}
  
@media screen and (max-width: 767.98px) {
    /* Blog List */
    .blog_list_img {
        height: auto;
    }
    .blog_list_img img {
        max-height: 25rem;
    }
    .blog_list_content {
        text-align: center;
    }
    /* Blog Detail */
    .blog_detail_img {
        height: 20rem;
    }
}

@media screen and (max-width: 575.98px) {
    /* Error Page */
    .page404-main-section {
        padding-bottom: 1.5rem;
    }

}