/* New Css */
body.login {
    background-color: rgba(255, 255, 255, 0.75);
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.creative-login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.creative-login::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.75);
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
div#login, 
p.copy_txt_login {
    position: relative;
    z-index: 2;
}
div#login {
    padding-top: 0;
}
#login h1 a, 
.login h1 a {
    background-size: contain;
    width: auto;
    margin-bottom: 15px;
    outline: 0px;
    height: 80px;
}
.login h1 {
    padding-top: 3rem;
}
.login #backtoblog, 
.login #nav {
    text-align: center;
}
.login .privacy-policy-page-link {
    margin: 1em 0 !important;
}
.login #backtoblog a, 
.login #nav a, 
.login .privacy-policy-page-link a {
    color: #000000 !important;
    font-size: 18px;
}
.login #backtoblog a:hover, 
.login #nav a:hover, 
.login .privacy-policy-page-link a:hover {
    color: #1f1f1f !important;
}
.login #backtoblog a:focus, 
.login #nav a:focus, 
.login .privacy-policy-page-link a:focus {
    outline: 0px;
}
p.copy_txt_login {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
p.copy_txt_login a img {
    margin-bottom: -8px;
}